@charset "UTF-8";

.page-footer {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

@keyframes wave-line-treadmill-anim {
    from { left: -100%; }
    to { left: 0%; }
}

.page-footer > .wave-line-treadmill {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.page-footer > .wave-line-treadmill > .slide {
    position: relative;
    width: 200%;
    height: 100%;
    animation: wave-line-treadmill-anim 15s linear infinite;
}

.page-footer > .wave-line-treadmill > .slide > .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.page-footer > .wave-line-treadmill > .slide > .line.pos-2 {
    left: 50%;
}

.page-footer > .home-page-link {
    position: relative;
}